.component-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  width: fit-content;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid var(--secondary-color);
  border-radius: 12px;
}

.component-plus-icon,
.component-minus-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;

  background-color: white;
  border: 1px solid var(--secondary-color);
  border-radius: 100%;
}

.component-link {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 16px;

  width: fit-content;

  &.light span {
    color: var(--light-color);
  }

  &.primary-light {
    --svg-path-color: var(--primary-color); 
    --svg-circle-color: var(--light-color); 
  }

  &.primary-secondary  {
    --svg-path-color: var(--primary-color); 
    --svg-circle-color: var(--secondary-color); 
  }

  &.secondary-light  {
    --svg-path-color: var(--secondary-color); 
    --svg-circle-color: var(--light-color); 
  }

  &.light-secondary {
    --svg-path-color: var(--light-color); 
    --svg-circle-color: var(--secondary-color); 
  }

  &.secondary-primary {
    --svg-path-color: var(--secondary-color); 
    --svg-circle-color: var(--primary-color); 
  }

  &.light-primary {
    --svg-path-color: var(--light-color); 
    --svg-circle-color: var(--primary-color); 
  }
}

/* ### */

.component-link-simple {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 16px;

  &.primary {
    color: var(--primary-color);
    fill: var(--primary-color);
  }
}

.component-link-simple.secondary,
.component-link-simple.secondary svg path {
  color: var(--secondary-color);
  fill: var(--secondary-color);
}

.component-link-simple.light,
.component-link-simple.light svg path {
  color: var(--light-color);
  fill: var(--light-color);
}

/* ### */

button {
  background: transparent;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
}

.button {
  width: fit-content;
  padding: 20px 32px;

  font-size: 20px;
  line-height: 1.4;
  color: var(--secondary-color);

  border-radius: 14px;

  &:hover {
    opacity: 0.95;
  }
}

.button.secondary-primary {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: none;
}

.button.light-secondary {
  color: var(--light-color);
  background-color: var(--secondary-color);
  border: none;
}

/* ### */

h2.label {
  padding: 2px 8px;
  border-radius: 7px;
  width: fit-content;
  border-radius: 8px;
}

h3.label {
  padding: 0px 6px;
  width: fit-content;
  border-radius: 8px;
}

h2.label.secondary-primary,
h3.label.secondary-primary {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

h2.label.secondary-light,
h3.label.secondary-light {
  color: var(--secondary-color);
  background-color: var(--light-color);
}

h2.label.light-secondary,
h3.label.light-secondary {
  color: var(--light-color);
  background-color: var(--secondary-color);
}