.about-section {
  display: grid;
  gap: 72px;
  width: 100%;
  padding: 72px 0;
}

.about-section .hero {
  display: flex;
  justify-content: space-between;
  align-items: start;
  max-width: 100%;
  width: 100%;
}

.about-section .hero > .dynamic-container {
  background-color: red;
  width: 300px;
}

.about-section .hero > .dynamic-container svg {
  width: 50%;
}

.about-section .text {
  width: fit-content;
  max-width: 540px;
}

.about-section .text h1 {
  margin-bottom: 32px;
}

.about-section .text p {
  margin-bottom: 48px;
}

.about-section .speaker-illustration {
  --svg-asset-color: var(--primary-color);
  --svg-base-color: var(--secondary-color);
  width: fit-content;
}

.logotypes-partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;
}

.logotypes-partners img {
  filter: brightness(0);
}

@media screen and (max-width: 768px) {
  .about-section {
    padding: 56px 0;
    gap: 56px;
  }

  .about-section .hero {
    flex-direction: column;
    align-items: center;
    gap: 56px;
  }

  .about-section .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .logotypes-partners {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}

.services-section {
  display: grid;
  gap: 72px;
  width: 100%;
  padding: 72px 0;
}

.services-section > .text {
  display: flex;
  align-items: start;
  gap: 40px;
}

.services-section .services-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.services-card-container .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 317px;
  padding: 48px;

  border: 1px solid var(--secondary-color);
  border-radius: 48px;
  box-shadow: 0px 5px 0px 0px var(--secondary-color);

  &.primary {
    background-color: var(--primary-color);
  }

  &.secondary {
    background-color: var(--secondary-color);
  }

  &.terciary {
    background-color: var(--terciary-color);
  }
}

.services-card-container .card > .text.desktop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.services-card-container .card > .text.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .services-section {
    padding: 56px 0;
    gap: 40px;
  }

  .services-section > .text {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .services-section .services-card-container {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .services-card-container .card {
    flex-direction: column;
    align-items: start;

    & img.illustration-desktop {
      display: none;
    }
  }

  .services-card-container .card > .text.desktop > a {
    display: none;
  }

  .services-card-container .card > .text.mobile {
    display: flex;
    align-items: end;
    justify-content: space-between;
    /* gap: 80px; */
    width: 100%;
    height: 100%;

    & .component-link span {
      display: none;
    }

    & img {
      width: 165px;
      height: 129px;
      display: block;
    }
  }

  .services-card-container .card {
    padding: 32px;
  }
}

.proposal-section {
  display: grid;
  gap: 72px;
  width: 100%;
  padding: 72px 0;

  & .call-to-action {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 52px 64px;
    background-color: var(--terciary-color);
    border-radius: 45px;

    & .text {
      width: 100%;
      max-width: 500px;

      & h3 {
        margin-bottom: 24px;
      }

      & p {
        margin-bottom: 40px;
      }
    }

    & .cta-illustration {
      position: absolute;
      right: 64px;
      width: fit-content;
      --svg-asset-color: var(--primary-color);
      --svg-base-color: var(--secondary-color);
    }
  }
}

@media screen and (max-width: 768px) {
  .proposal-section {
    padding: 56px 0;

    & .call-to-action {
      padding: 48px;

      & .cta-illustration {
        display: none;
      }
    }
  }
}